/* grid parent container */
.card .three {

    display: grid;

    width: 100%;
    height: 225px;
    margin-top: 5%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 175px;
    grid-template-areas: 
        "title-1 title-2 title-3"
        "photo-1 photo-2 photo-3";
    
}
.card .three {

    display: grid;

    width: 100%;
    height: 450px;
    margin-top: 5%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 175px 175px 175px;
    grid-template-areas: 
        "title-1 title-2 title-3"
        "photo-1 photo-2 photo-3"
        "title-4 title-5 title-6"
        "photo-4 photo-5 photo-6";
    
}

/* grid children */
.card .title {

    display: flex;

    /* behavior to wrap text to center */
    padding: 0 5%;
    flex-wrap: wrap;
    text-align: center;

    /* align flex children center of flexbox */
    justify-content: center;
    align-content: center;

}
.title a {

    color: black;

}

/* for 3 and 6 cards */
.card .three, .six .card-1.title {grid-area: title-1;}
.card .three, .six .card-2.title {grid-area: title-2;}
.card .three, .six .card-3.title {grid-area: title-3;}
/* for 6 cards only */
.card .six .card-4.title {grid-area: title-4;}
.card .six .card-5.title {grid-area: title-5;}
.card .six .card-6.title {grid-area: title-6;}


/* grid item is a flex container */
.card .photo{

    /* center photos to grid box */
    display: flex;
    
    justify-content: center;
    align-items: center;

}
/* flex child - aka the content*/
.card img {
    
    /* size image */
    width: 80%;
    height: 80%;
    
    /* image ratio maintained at all sizes */
    object-fit: cover;

}
/* for 3 and 6 cards */
.card .three, .six .card-1.photo {grid-area: photo-1;}
.card .three, .six .card-2.photo {grid-area: photo-2;}
.card .three, .six .card-3.photo {grid-area: photo-3;}
/* for 6 cards only */
.card .six .card-4.photo {grid-area: photo-4;}
.card .six .card-5.photo {grid-area: photo-5;}
.card .six .card-6.photo {grid-area: photo-6;}