body{
    background-color: rgb(200, 166, 122)
}

.box-main{
    background-color: rgb(226, 193, 164);

    width: 75%;
    height: auto;
    
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
}

.title {
    text-align: center;
}

.navbar {
    width: 100%;
    height: auto;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;

    font-size: 200%;
    text-align: center;
}