body{
    background-color: rgb(200, 166, 122)
}

.box-main{
    background-color: rgb(226, 193, 164);

    width: 75%;
    height: auto;
    
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
}

.title {
    text-align: center;
}

/* flex parent */
.navbar { 

    width: 100%;
    height: 45px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;

    font-size: 50%;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; /*main axis*/
    align-items: stretch; /*cross axis*/

}
/* flex child */
.navbar .child {

    /* height: 100%; */
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    flex: 1 0 20%;
    border-bottom: 1px solid black;

}
.navbar .child.l {

    border-right: 1px solid black;
    
}
.navbar .child.m {

    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
.navbar .child.r {

    border-left: 1px solid black;
    
}